
body {
  /*max-width: 700px;
  margin: 0 auto;
  text-align: left;
  height: 700px;
  /*background-color: rgb(139, 16, 16);
  /*background-image: url("https://apod.nasa.gov/apod/image/1411/NGC281_STXL11002_AOXPugh950.jpg");*/
  /*background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
  margin:auto;
  width:100%;
  padding:3em;
  background-color:#ebebeb;
  /*font-size:14px;
  font-family:Verdana;*/
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  color: white;
}

.input {
  width: 100em;
  /*border: 0px;*/
  margin-left: 3em;
}

input:focus {
  outline: none;
  /*height: 50px;*/
}

::placeholder {
  color: rgba(114, 110, 110, 0.856);
  font-family: 'Caveat';
  font-size: 20rem;
}

.listItems {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}
.li {
  /*border-style: solid;*/
}

.tab1 { 
  display: inline-block;
  margin-left: 7rem; 
} 



